#klaro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Półprzezroczyste tło */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
}

#klaro .klaro-buttons {
  margin-top: 20px;
}

#klaro button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#klaro button:hover {
  background-color: #45a049;
}

#klaro .klaro-close {
  display: none; /* Ukrywa przycisk zamknięcia */
}
